@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.blue {
    background-color: aliceblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: 5px;
    padding: 25px;
    color: black;
    background-color: rgb(252, 233, 192);
    border-radius: 10px;
    border-width: 6px;
    border-style: solid;
    border-color: black;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;;
}

.plant {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    gap: 10px 20px;
    row-gap: 10px;
    column-gap: 20px;;
}